:root{
    --bglight:#D0D3D4;
    --bgdark:#5D6D7E;
    --section-main-bg:#eaeded;
    --bgcolor:#85929E;
    --lightdark: #aeb6bf ;
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --orange: #f8a841ab;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    cursor: pointer; 
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2.5rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.8rem;
}

.p-1{
    padding: 1rem;
}
.p-2{
    padding: 2rem;
}
.pt-1{
    padding-top: .5rem;
}
.pt-2{
    padding-top: 1rem;
}
.pt-3{
    padding-top: 1.5rem;
}
.pb-1{
    padding-top: .5rem;
}
.pb-2{
    padding-top: 1rem;
}
.pb-3{
    padding-top: 1.5rem;
}


.m-1{
    margin: 1rem;
}
.m-2{
    margin: 2rem;
}
.mt-1{
    margin-top: .5rem;
}
.mt-2{
    margin-top: 1rem;
}
.mt-3{
    margin-top: 1.5rem;
}
.mb-1{
    margin-top: .5rem;
}
.mb-2{
    margin-top: 1rem;
}
.mb-3{
    margin-top: 1.5rem;
}
.img-fluid
{
    max-width:100%;
    height:auto
}
.flex-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-evenly{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
hr{
    color: rgb(241, 237, 237);
    height: .1px;
    margin: 10px 0;
}
/* default css ends */


/* custom css */
.container{
    width: 100%;
    height: 100vh;
    max-height: auto;
    padding: 0;
    background-color: var(--bglight);
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    gap:5px;
}
.left{
    background-color:  var(--white) ;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transform: translateX(0px);
    transition: all 0.6s ease-in;
    /* overflow-y: scroll; */
}
 .left.show{
    display: none;
    transition: all 0.6s ease-in;
} 
.small-logo{
    display: none;
}
.container .left .logo{
    width: 200px;
    height: 50px;
    margin: 20px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 30px;
}
.container .left .logo .namedlogo{
    width: 100%;
    height: 100%;
}
.container .left nav{
    width: 100%;
}
.container .left nav .left-navlist{
    width: 100%;
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 20px;
   
}
.container .left nav .left-navlist .left-navlinks{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap:5px;
    padding: 1rem 4rem;
    transition: all .3s ease-in-out;
    position: relative;
    /* background-color: #ff8c27; */
}
.container .left nav .left-navlist .left-navlinks:hover {
    background-color: bisque;
    border-left: 1rem solid var(--orange);
    color: #8111b1;
    width: 90%;
    margin: 0 auto;
    /* padding: 0; */
}

.container .left nav .left-navlist .left-navlinks:last-child{
    position: absolute;
    bottom:1rem;
    left:0;
    width: 100%;
}
.container .left nav .left-navlist .left-navlinks a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    font-size: 1.8rem;
    color: var(--orange);
    
}

/* .container .left nav .left-navlist .left-navlinks a:active{
    background-color: aquamarine;
    color: #ff8c27;
    margin-left: 0;
}
.container .left nav .left-navlist .left-navlinks a:active::before{
    content: "";
    width: 6px;
    background-color: antiquewhite; 
} */
.container .left nav .left-navlist .left-navlinks span{
    padding: 0 10px;
    width: auto;
    /* overflow: hidden; */
    /* background-color: cadetblue; */
}
.left p,.left span{
    color: var(--black);
}
/* left end */



/* center main content */
.red{
    color: red!important;
}
.main-center{
    width: 100%;
    /* background-color: var(--white); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: var(--black);
}
.main-center main{
    width:100%;
    height:100%;
    background-color: var(--white);
    overflow-y: scroll;
}
 header{
    width: 100%;
    height: 10vh;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    padding:  20px;
}
.main-center header button{
    background: transparent;
    border: none;
    outline: none;
    /* background-color: #ff8c27; */
}
.main-center .search{
    width: 30%;
    background-color: var(--section-main-bg);
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
}
.main-center .search:hover{
    background-color: var(--bglight);
}
header a{
    color: var(--black);
}
header h3{
    width: 20%;
    color: var(--black);
    /* background-color: #ff8c27; */
    transition: all 2s ease-in-out;
}
header span{
    color: var(--black);
}
header nav{
    width: 30%;
    /* background-color: aqua; */
    position: relative;
}
header nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}
header nav ul img{
    width: 40px;
    height: auto;
    border-radius: 50%;
}
.header-navlinks{
    position: relative;
    /* background-color: #ff8c27; */
}

.sublist{
    width: 150px;
    height: fit-content;
    position: absolute;
    background-color: var(--bgdark);
    color: white;
    top: -20px;
    right: -30px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /* display: block; */
    display: none;
   
}
.sublist a{
    color: var(--white);
}
.sublist a:hover{
    color: var(--orange);
}
.sublist li{
    margin: 10px;
}
.header-navlinks:hover .sublist{
 background-color: var(--bgdark);
 display: block;
}
/* header end */



/* main */
main{
    padding: 20px;
    font-size: 2.2rem;
    color: var(--black);
}
main .cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
main .cards-container .card{
    width: 20%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: var(--white);
    text-transform: uppercase;
    color: var(--black);
    border-radius: 10px;
    box-shadow: 1px 1px 8px gray;
}
main .cards-container .card:hover{
    background-color: var(--section-main-bg);
    box-shadow: 2px 2px 6px gray;
}
main .cards-container .card:hover span{
    background-color: #aeb6bf;
    transform: rotate(360deg);
} 
.md-48{
    font-size: 40px!important;
}
main .cards-container .card span{
    /* width: 30%; */
    border-radius: 50%;
    padding: 10px;
    background-color: var(--orange);
    color: var(--black);
    transition: all .6s ease-in-out;
}


/* center main content end */

/* table */
table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: 1.8rem;
}
th{
    background-color: var(--orange);
}

th,td{
    width: 16%;   
    padding: 06px 20px;
    border: 1px solid black;
}
tr:nth-child(even){
    background-color: var(--section-main-bg);
}



@media screen and (max-width:700px){
    .container .left nav .left-navlist .left-navlinks a{
        display: none;
    }
    .small-logo{
        display: block;
        width: 50px;
        margin-left: 52px;
    }
    .namedlogo{
        display: none;
    }
    .container .left nav .left-navlist .left-navlinks span{
        position: relative;
        left:-18px;
    }
    header,header h3{
        font-size: 110%;
    }
    main .cards-container .card{
        font-size: 50%;
        height: 100px;
        padding: 0 10px;
    }
    main .cards-container .card p{
        padding: 0 20px;
    }
    main .cards-container .card span{
        width: 60%;
        border-radius: 50%;
        padding: 3px;
    }
    .md-48{
        font-size: 30px!important;
    }
    table{
        width: 100%;
        font-size: 50%;
    }
    .left{
        background-color: black;
        color:white;
    }
    .container .left nav .left-navlist .left-navlinks:last-child{
        position: absolute;
        bottom:1rem;
        left:-13px;
        width: 20%;
    }
    .logo .small-logo{
        background-color: var(--white);
        border-radius: 50%;
    }
    .btn-close{
        display: none;
    }
    .main-center .search{
        width: 20%;
    }
    .main-center h3{
        width: 12%;
        /* background-color: #ff8c27; */
    }
    header{
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }
    header nav{
        width: 20%;
    }
}
